<style>
  h1 {
    text-align: center;
    color:darkcyan;
  }
  form .search {
    width: 300px;
    height: 50px;
    margin: 50px auto;
  }
  form .search input {
    width: 100%;
    height: 100%;
    border:darkcyan 1px solid;
    border-radius: 5px;
    padding:10px;
    color:darkcyan;
    font-size: 24px;
  }
  .photo {
    margin-top:100px;
    position: relative;
    text-align: center;
  }
</style>
<h1>Lazy Loading Demo</h1>
<form [formGroup]="searchForm" (ngSubmit)="doSearch()" (keydown.enter)="doSearch()">
  <div class="search">
    <input formControlName="searchTerms" type="text" placeholder="Category...">
  </div>
</form>
<div *ngIf="photos$">
  <div class="photo" *ngFor="let photo of photos$.photos">
    <img src="{{photo.src.large}}">
  </div>
</div>

<router-outlet></router-outlet>